$PATH = '../imports/ui/styles/'

@import 'nib'

@import $PATH + '_variables'
@import $PATH + '_mixins'

global-reset()
@import $PATH + '_base'

//components
@import $PATH + '_header'
@import $PATH + '_errorPopup'

//Pages
@import $PATH + '_seasons'
