$PATH = './styles/'

@import './styles/variables'
@import './styles/mixins'

@import './styles/reset'
@import './styles/base'

//components
@import './styles/header'
@import './styles/errorPopup'

//Pages
@import './styles/pages/seasons'
@import './styles/pages/animeDetails'
