$PATH = './styles/'

@import $PATH + 'variables'
@import $PATH + 'mixins'

@import $PATH + 'reset'
@import $PATH + 'base'

//components
@import $PATH + 'header'
@import $PATH + 'errorPopup'

//Pages
@import $PATH + 'pages/seasons'
@import $PATH + 'pages/animeDetails'
