.anime-container
  width 100%
  display flex
  flex-wrap wrap

.anime-item
  background skyblue
  position relative
  width 25%
  height 0
  padding-bottom 30%

  a
    display block

  .overlay
    position absolute
    bottom 0
    left 0
    background rgba(0,0,0,0.1)
    height 100%
    width 100%

  img
    display block
    width 100%

  h3
    position absolute
    bottom 0
    left 0
    background black
    color white

  .score
    font-size 20px
