container()
  max-width 1000px
  margin 0 auto 0

  +below($width-xxs)
    max-width $width-xxs

below(width)
  @media (max-width: width)
    {block}

clearfix()
  &:after
    content ""
    display table
    clear both
