.anime-details
  container()

  img
    float left

  .details-container
    display inline-block
    width 60%
    margin-left 25px
    // background skyblue

    >:nth-child(n + 2)
      margin-top 10px
    p
      font-family Varela Round
      float left
      // color white
      clear both

    .title
      font-size 28px
      font-weight bold

    .average-score {}

    .description{}
